streamlit
langchain
langchain-community
langchain-openai
langchain-core
langchain-text-splitters
langgraph
python-dotenv
requests
faiss-cpu
pypdf
openai
duckduckgo-search
langsmith
langgraph-checkpoint-sqlite
fastapi
uvicorn
python-multipart
